.app-header-block {
  position: fixed;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 30px;
  border-bottom: var(--font-color) 1px solid;
  background: var(--header-background-color);
  top: 0;
  left: 0;
  right: 0;
}

.header-margin {
  margin: 100px;
}
