:root{
  --font-family: 'Roboto', sans-serif;
  --font-color: #111111;
  --border-color: #111111;
  --header-background-color: #ffa500;
  --button-category-background-color: linear-gradient(135deg, rgba(255,165,0,1) 0%, rgba(255,255,0,1) 100%);
}
