:root{
  --font-color: #111111;
}

.header-list-element {
  list-style: none;
}

.header-list-value {
  font-size: 32px;
  text-decoration: none;
  color: var(--font-color);
}

.header-list-value:hover {
  opacity: 0.7;
}



